<div class="container-fluid">
  <% @posts.each_with_index do |post, index| %>
    <%= render partial: 'post', locals:
               {post: post, number: calculate_number(@posts, index)} %>
  <% end %>

  <%= paginate @posts %>
</div>
